
body.artist {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 3rem;
  }
 
  a {
    text-decoration: none;
    color: darkgreen;
  }

  img.main-image {
    padding-right: 1rem;
    width: 800px;
  }

  #details {
    width: 1px;
    white-space: nowrap;
    border-collapse: collapse;

    thead {
      th.image {
        text-align: left;
      }
    }

    th {
      background-color: lightgray;
      font-weight: 200;
    }

    td, th {
      border-bottom: 1px solid gray;
      padding: 0.5rem 0.6rem;

    }

    .number {
      text-align: right;
    }


  }

}

@media (max-width: 600px) {
  body.artist {

    img.main-image {
      width: 100%;
    }
  }
}