:root {
  --color-header-fg: black;
  --color-menu-bg: darkslategray;
  --color-menu-fg: white;
  --color-menu-hover-bg: gray;  
  --color-hamburger-fg: white;

  --color-header-bg: lightgray; 
  --color-header-border-bottom: lightgray;


  --header-height: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  display: flex;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
}

.hamburger {
  z-index: 10;
  position: fixed;
  left: 1.2rem;
  top: 1rem;
  background-color: var(--color-menu-bg, darkgray);
  color: var(--color-hamburger-fg, white);
  border: none;
  cursor: pointer;
  font-size: 2.5rem;

  width: 3.5rem;
  height: 3.5rem;
}

nav {
  width: 20rem;
  height: 100vh;
  background-color: var(--color-menu-bg, darkgray);
  padding-top: 6rem;
  font-size: 1.6rem;

  &.min {
    width: 6rem;
  }

  ul {

    a {
      display: flex;
      gap: 1rem;
      padding: 1rem 1.8rem;
      color: var(--color-menu-fg, white);
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        background-color: var(--color-menu-hover-bg, gray);
      }

    }
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  height: var(--header-height, 6rem);
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--color-header-border-bottom, gray);
  background-color: var(--color-header-bg, white);

  a {
    color: var(--color-header-fg, black);
    text-decoration: none;
  }
}

article {
  padding: 1rem;
  width: 100%;
  height: calc(100vh - var(--header-height, 6rem));

  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (max-width: 600px) {
  .hamburger {
    background-color: var(--color-header-bg, white);
  }

  header {
    padding-left: 5.5rem;
  }

  nav {
    position: fixed;
    left: -25rem;
    top: 0;
  }

  nav.active {
    left: 0;
  }
}
